{% extends 'customer/base.html' %}
{% block content %}
</style>
<div class="bg-image" style=" background-image: url('https://images.squarespace-cdn.com/content/v1/57a638c5ebbd1acee619193b/1529434540139-1JT72PUBY0MOAPB9VBHE/ke17ZwdGBToddI8pDm48kAI8vb-WPdIdYYCfizVhTKQUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKc4-bqIMdPlpcIn9ZUR5fP0pz41_tPfyOOqV4UWTX9kfZmWYMppK9k9kx68RqBn3F0/food+background.png?format=1500w');background-position: center;
background-repeat: no-repeat;
background-size: cover;  
height: 100vh; ">
    <div class="row justify-content-center">
        <div class="col-md-10 mt-5 col-sm-12 offset-md-1 p-5 text-center">
            <h1><b>About Us</b></h1>
        </div>
    </div>

    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-13 offset-md-1 p-4 text-center font-weight-bold">
            <p>Takeaway is an online takeaway ordering service for Yummy Cafe. People can easily order foods and pick it up after the food is done instead of waiting in the cafe for food to cook.</p>
        </div>
    </div>
</div>

{% endblock content %}