{% extends 'customer/base.html' %}
{% block content %}
<style>
    .city {
      margin-left: 1.5em;
      background-color: orange;
      color: black;
      padding: 5px;
    }
    .para {
        margin-left: 2.5em;
    }
</style>
    <h1 class="para">FAQ</h1>
    <br>
    <div>
    <h3 class="city">Is it only for takeout?</h3>
    <p class="para">Yes, For now it is only for takeout Delivery will be coming soon.</p>

    <h3 class="city">How much time do I have to wait for food to be ready?</h3>
    <p class="para">Mostly 30 minutes.</p>

    <h3 class="city">When should I come and take my food?</h3>
    <p class="para">We will call you to pickup your food as soon as it is ready to be pickedup.</p>

    </div>
{% endblock content %}